{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "hapi",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 2,
    "react/jsx-tag-spacing": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
