// @import 'bootstrap-social';

html {
    font-size: 16px;
}

body {
    // margin: 0;
    background-color: darkseagreen;
}
.pointing.secondary.top.fixed.menu {
    &.header.item{
        color: white!important;
    }
}
.mde-text{
    overflow-y: scroll;
    max-height: 300px;
    border-bottom: solid 1px lightgray;
    margin-bottom: 5px;
}
.mde-preview{
    overflow-y: scroll;
    max-height: 300px;
    margin-top: 5px;
}
#reader{
    overflow-y: scroll;
    border: dashed 20px #8fbc8f;
    background-color: white;
    font-family: Karma;
    max-height: 80vh;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
.ui.grid {
    height: 100vh;
}
.react-mde {
    background: white;
}
.ui.card.book-card{

    width: 350px;

}
